/*//////////////////////////////////////////////CUSTOM PROPERTIES//////////////////////////////////////////////////////*/
:root{
    /*//////////////////////////////////////////////Site Colors/////////////////////////////////////////////////////////*/
    --text-accent-color:#151515;
    --text-accent-color2:#575757;
    --text-accent-color3:#a9a9a9;
    --text-accent-color4:#d1d1d1;
    --text-accent-color5:#ebebeb;
    --text-accent-color6:#f5f5f5;
    --text-accent-color7:#f9f9f9;
    --btn-color:#6A983C;
    --btn-color2:#46760A;
    --blue-color: #37D0D6;
    --bg-white-color:#ffffff;
    --extra-color:#E6704B;
    /*////////////////////////////////////////////////Site Fonts//////////////////////////////////////////////////////*/
    --site-text-font:"Open Sans", "Arial", sans-serif;
    --accent-font:"Poppins", "Arial", sans-serif;
}

/*/////////////////////////////////////////////////WEB FONTS RELATED//////////////////////////////////////////////////*/
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/") format("woff2"),
        url("../fonts/OpenSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
        url("../fonts/Poppins-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
        url("../fonts/Poppins-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
        url("../fonts/Poppins-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/*////////////////////////////////////////////////////GLOBAL STYLES///////////////////////////////////////////////////////*/
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
img{
    max-width: 100%;
    height: auto;
}
body{
    font-family: var(--site-text-font);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    background-color:var(--bg-white-color);
    color: var(--text-accent-color2);
    display: flex;
    flex-direction: column;
}
.site-main{
    flex-grow: 1;
}
.container{
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.btn {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 12px;
}
.btn::after{
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url(../images/black-icon-right.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    margin-left: 6px;
}

/*//////////////////////////////////////////////// SITE HEADER ///////////////////////////////////////////////////*/

.site-header {
   background-color: var(--bg-white-color);
   z-index: 99;
}

/*//////////////////////////////////////////////// HEADER TOP //////////////////////////////////////////////////*/

.header-top{
    background-color: var(--bg-white-color);
}
.header-top__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 16px;
    padding-bottom: 16px;
    overflow-x: hidden;
}
.header-top::after{
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--text-accent-color);
    top: 100%;
    left: 0;
}
.header-top__comunication-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-right: 20px;
}
.header-top__comunication-item{
    flex-shrink: 0;
}
.header-top__comunication-item:not(:last-child) {
    margin-right: 33px;
}
.header-top__comunication-link {
    display:block;
    text-decoration: none;
    color: var(--text-accent-color);
    white-space: nowrap;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}
.header-top__comunication-item:nth-child(1) .header-top__comunication-link{
    color: var(--btn-color);
}
.header-top__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-right: -38px;
    overflow-x: hidden;
    
}
.header-top__item {
    margin-right: 38px;
}
.header-top__link {
    text-decoration: none;
    display: block;
    color: var(--btn-color);
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

/*//////////////////////////////////////////////// HEADER MAIN ///////////////////////////////////////////*/

.header-main {
    position: relative;
    background-color: var(--bg-white-color);
}
.header-main__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 48px;
}
.site-logo {
    display: block;
    cursor: pointer;
    margin-right: 20px;
    flex-shrink: 0;
}
.site-logo__img {
    display:block;
}
.header-form {
    background-color: var(--text-accent-color7);
    border: 1px solid var(--text-accent-color4);
    border-radius: 12px;
    padding:10px 16px; 
    display: flex;
    align-items: center;
    margin-right: 89px;
    width: 500px;
    max-width: 100%;
}
.header-form__select {
    border: none;
    background-color: inherit;
    margin-right: 24px;
    font-family: var(--accent-font);
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: var(--text-accent-color);
    padding-right: 12px;
    margin-right: 24px;
    cursor: pointer;
}
.header-form__input-text {
    position: relative;
    display: block;
    border: none;
    background-color: inherit;
    padding-left: 24px;
    width: 262px;
    margin-right: auto;
    font-size: 14px;
    line-height: 19px;
    color: var(--text-accent-color3);
    text-align: start;
    border-left: 1px solid var(--text-accent-color3);
}
.header-form__button {
    padding: 8px;
    border: none;
    background-color: transparent       ;
    background-image:url(../images/chearch-btn.svg) ;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    text-align: center;
    cursor: pointer;
}
.magazine-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.magazine-item:not(:last-child) {
    margin-right: 40px;
}
.magazine-item:last-child{
position: relative;
}
.magazine-item:last-child:after{
    position: absolute;
    content: "4";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--extra-color);
    top: 14px;
    right: 14px;
    font-family: var(--accent-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 18px; 
    display: flex;
    align-items: center;
    justify-content: center;   
    color: var(--bg-white-color);
}
.magazine-link {
    display: block;
}
.magazine-img {
    display: block;
}
.header-main__menu-toggler{
    display: none;
}

/*//////////////////////////////////////////////////// SITENAV ////////////////////////////////////////////////////////*/

.sitenav{
    background-color: var(--text-accent-color7);
}
.sitenav__container {
    padding-top: 16px;
    padding-bottom: 16px;
}
.sitenav__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.sitenav__item{
    position: relative;
    
    display: flex;
    align-items: center;
}
.sitenav__item:not(:last-child) {
    margin-right: 43px;
}
.sitenav__item:hover .dropdown-menu{
    display: block;
}
.sitenav__item:hover::after{
    transform: rotate(180deg);
}
.sitenav__item::after{
    content: "";
    width: 12px;
    height: 12px;
    background-image: url(../images/arrow.svg);
    background-position: center center;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    transition: 0.2s ease-in;
}
.sitenav__link {
    font-family: var(--accent-font);
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;    
    text-decoration: none;
    color: var(--text-accent-color);
    margin-right: 2px;
}
.dropdown-menu {
    z-index: 99;
    display: none;
    position: absolute;
    width: auto;
    left:0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 100%;
    border-radius: 5px;
    border: 1px solid var(--text-accent-color3);
    background-color: var(--bg-white-color);
    transition: 0.2s ease-in;
    z-index: 99;
}
.dropdown-link:hover {
    background-color: var(--text-accent-color7);
    color: var(--text-accent-color);
}
.dropdown-link {
    display: block;
    text-decoration: none;
    color: var(--text-accent-color2);
    padding: 8px 16px;
    text-align: center;
}

/*/////////////////// SITE HEADER RESPONSIVE ////////////////////////*/

@media only screen and (max-width:923px) {
    .magazine-list{
        order: 0;
        margin-left: 109px;
    }
    .header-form{
        margin-top: 20px;
        margin-right: 0;
        order: 1;
    }
    .site-logo{
        margin-right: auto;
    }
    .header-main__container{
        padding-top: 25px;
        padding-bottom: 25px;
        justify-content: center;
    }
}

@media only screen and (max-width:750px) {
    .header-main__container{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width:650px){
    .header-top__container {
        flex-direction: column;
    }
    .header-top__comunication-list {
        display: none;
    }    
}

@media only screen and (max-width:600px) {
    .site-header{
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
    }
    @keyframes toggler {
        0%{
            transform: translateX(-250px);
        }
        100%{
            transform: translateX(0);
        }
    }
    .sitenav{
        display: none;
    }
    .sitenav__container{
        transform: translateX(-250px);
    }
    .magazine-list{
        display: none;
    }
    .header-main__container{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .header-form{
        margin-top:15px ;
    }
    .header-main__menu-toggler{
        display: block;
        position: absolute;
        padding: 0;
        width: 20px;
        height: 16px;
        background-color: transparent;
        background-image: url(../images/toggler-menu.svg);
        background-size: 20px 16px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 20px 16px;
        border: none;
        top: 15px;
        right: 25px;
        outline-offset: 5px;
    }
    .site-logo{
        margin-right: auto;
    }
    .site-header__open{
        height: 100vh;
    }
    .site-header__open .header-main__menu-toggler{
        background-image: url(../images/toggler-menu-close.svg);
    }
    .header-main__menu-toggler::before{
        position: absolute;
        content: "";
        width: 54px;
        height: 54px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .site-header__open .sitenav{
        display: block;
        width: 100%;
        position: absolute;
        height: calc(100vh - 163px);
        top: 163px;
        background-color: transparent;
    }
    .site-header__open .sitenav__container{
        animation: toggler 0.5s 1 forwards;
    }
    .sitenav__container{
        padding: 0;
        height: 100%;
        background-color: var(--text-accent-color3);
    }
    .sitenav__list {
        flex-direction: column;
        align-items: flex-start;
        width: 250px;
        height: 100%;
        padding: 8px;
        background-color: var(--text-accent-color4);
    }
    .sitenav__item {
        width: 100%;
        margin-bottom: 20px;
        
    }
    .sitenav__link {
        width: 100%;
    }
    .dropdown-menu{
        width: auto;
        left: 0;
        transform: translateX(0);
    }
}

@media only screen and (max-width:550px){
    .header-form {
        max-width: 500px;
    }
    .header-form__input-text {
        max-width: 262px;
    }
}

@media only screen and (max-width:524px){
    .header-form{
        display: none;
    }
    .site-header__open .sitenav{
        height: calc(100vh - 85px);
        top: 85px;
    }
    .header-top__container{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/*///////////////////////////////////////// SITE MAIN   /////////////////////////////////////////////////////*/

.site-main{
    flex-grow: 1;
}

/*//////////////////////////////////// CATEGORIES SECTION ///////////////////////////////////////////////////*/

.categories {
    background-color: var(--bg-white-color);
}
.categories__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.categories__item {
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    flex-wrap: wrap;
}
.produce-wrap {
    width: 270px;
    margin-right: 30px;
}
.produce-wrap__title {
    font-family: var(--accent-font);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px; 
    color: var(--text-accent-color);   
    margin-top: 0;
}
.produce-wrap__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 48px;
}
.produce-wrap__item {
    margin: 0;
    margin-bottom: 12px;
}
.produce-wrap__link {
    display: block;
    color: var(--btn-color);
    font-size: 14px;
    line-height: 19px; 
}
.produce-btn {
    margin-top: 0;
    font-family: var(--accent-font);
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;    
    width: 167px;
    text-decoration: none;
    color: var(--text-accent-color);
    background-color: var(--text-accent-color6);
}
.produce-btn:hover{
    opacity: 0.8;
}
.produce-btn:active{
    background-color: var(--btn-color);
    color: var(--bg-white-color);
}
.produce-btn:active::after{
    background-image: url(../images/white-icon-right.svg);
}
.banner__list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    font-family: var(--accent-font);
    justify-content: space-between;
}
.banner__item {
    flex-grow: 1;
    border-radius: 12px;
    background-image: url(../images/banner-img.png);
    background-position: center  center;
    background-repeat: no-repeat;
    padding: 48px 33px;
    border-radius: 12px;
}
.banner__item:not(:last-child){
    margin-right:30px ;
}
.subfocus {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: var(--btn-color);    

}
.banner__text {
    margin: 0;
    padding: 0;
    display: block;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: var(--text-accent-color);   
}
.banner-btn {
    width: 170px;
    margin-top:96px ;
    border:1px solid var(--btn-color) ;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: var(--text-accent-color);
    text-decoration: none;
}
.banner-btn:hover{
    opacity: 0.8;
}
.banner-btn:active{
    background-color: var(--btn-color);
    color: var(--bg-white-color);
}
.banner-btn:active::after{
    background-image: url(../images/white-icon-right.svg);
}
.banner-btn::after{
    background-image: url(../images/blue-icon-right.svg);
}
.produce__item-extra:not(:last-child){
    margin-right: 30px;
}
.produce-extra {
    flex-wrap: nowrap;
}

/*////////////////////////////////////////// PRODUCE CODE /////////////////////////////////////////////////////////*/


.produce__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.produce__item {
    border-radius: 12px;
    border:1px solid var(--text-accent-color4);
    padding: 16px;
}

.product-img {
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}
.produce__title {
    font-family: var(--accent-font);
    font-weight: 500;
    font-size: 15px;
    line-height: 22px; 
    color: var(--text-accent-color); 
    margin: 0;
    margin-bottom: 4px; 
}
.produce__text {
    margin: 0;
    margin-bottom: 16px;
}
.buy-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buy-wrap {
    display: flex;
    flex-direction: column;
}
.buy-amount {
    font-family: var(--accent-font);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color:var(--text-accent-color);  
    margin: 0;  
}
.buy-del {
    margin: 0;
    font-family: var(--accent-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: var(--text-accent-color3);
}
.buy-btn {
    font-family: var(--accent-font);
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;    
    padding: 7px 12px;
    border: 2px solid var(--btn-color);
    border-radius: 12px;
    background-color: var(--btn-color); 
    color: var(--bg-white-color);   
}
.buy-btn:hover{
    opacity: 0.8;
}
.buy-btn:active{
    background-color: var(--bg-white-color);
    color: var(--btn-color);
}

/*///////////////////////////////// CATEGORIES SECTION RESPONSIVE////////////////////////////////////////////*/

@media only screen and (max-width:1000px) {

.categories__item{
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 48px;
}
.produce-wrap{
    width: 100%;
    margin-right: 0;
}
.produce-wrap__title {
    text-align: center;
    
}
.produce-wrap__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}
.produce-wrap__item {
    margin-right: 30px;

}
.produce-btn {
    margin-left: auto;
    margin-right: auto;
}
.banner__list {
    justify-content: space-between;
    margin-bottom: 32px;
}
.produce {
    flex-wrap: wrap;
}
.produce__list-extra {
    justify-content: space-evenly;
    flex-grow: 0;
    flex-wrap: nowrap;
    width: 100%;
}
.produce__item-extra {
    margin-bottom: 32px;
}
}

@media only screen and (max-width:859px) {
    .produce__list-extra{
        flex-wrap: wrap;
    }
    .produce__item-extra:not(:last-child){
        margin-right: 0;
    }
    
}

@media only screen and (max-width:680px) {
    
    .categories__item {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    
    .banner__list {
        margin-bottom: 24px;
        flex-direction: column;
        flex-grow: 0;
        align-items: center;
    }
    .banner__item {
        width: 420px;
    }
    .banner__item:not(:last-child){
        margin-right: 0;
        margin-bottom: 24px;
    }
    .produce__list-extra {
        margin-bottom: 24px;
        flex-direction: column;
        align-items: center;
    }
 
}

@media only screen and (max-width:450px) {
    .produce__item-extra{
        width: 270px;
        flex-shrink: 1;
    }
    .banner__item{
        width: auto;
        flex-shrink: 1;
    }
}

@media only screen and (max-width:320px){
    .produce__item-extra{
        width: auto;
    }
}

/*/////////////////////////////////////////////// OUR CUSTOMER SECTION //////////////////////////////////////////*/

.our-customer {
    background-color: var(--bg-white-color);
}
.our-customer__container {
    padding-top: 64px;
    padding-bottom: 40px;
}

.our-customer__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.our-customer__item {
    position: relative;
    padding: 24px 32px 40px 32px;
    background-color: var(--bg-white-color);
    flex-shrink: 0;
    width: 370px;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 12px;  
    margin-bottom: 24px;  
}
.our-customer__item-extra{
    margin-right: 30px;
}
.our-customer__text {
    margin: 0;
    padding: 0;
    font-family: var(--accent-font);
    width: 305px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;  
    color: var(--text-accent-color); 
    margin-bottom: 24px; 
}
.our-customer__name {
    margin: 0;
    
    text-align: center;
}
.our-customer__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

/*//////////////////////////////////////////////// SECTION TOP CODE ////////////////////////////////////////////////*/

.section-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 37px;
}
.section-top-title {
    font-family: var(--accent-font);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;    
    color: var(--text-accent-color);
}
.section-top-btn {
    font-family: var(--accent-font);
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: var(--text-accent-color);
}
.section-top-btn::after{
    background-image: url(../images/blue-icon-right.svg);
}
.section-top-btn:hover{
    opacity: 0.8;
}
.section-top-btn:active{
    color: var(--bg-white-color);
    background-color: var(--btn-color);
}
.section-top-btn:active:after{
    background-image: url(../images/white-icon-right.svg);
}





/*////////////////////////////////////////////  CAROUSEL CODE //////////////////////////////////////////////////////*/

#carousel-1:checked ~ .carousel-list .carousel-item:nth-of-type(1),
#carousel-1:checked ~ .carousel-list .carousel-item:nth-of-type(2),
#carousel-1:checked ~ .carousel-list .carousel-item:nth-of-type(3),
#carousel-1:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(12),
#carousel-1:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(2),
#carousel-2:checked ~ .carousel-list .carousel-item:nth-of-type(2),
#carousel-2:checked ~ .carousel-list .carousel-item:nth-of-type(3),
#carousel-2:checked ~ .carousel-list .carousel-item:nth-of-type(4),
#carousel-2:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(1),
#carousel-2:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(3),
#carousel-3:checked ~ .carousel-list .carousel-item:nth-of-type(3),
#carousel-3:checked ~ .carousel-list .carousel-item:nth-of-type(4),
#carousel-3:checked ~ .carousel-list .carousel-item:nth-of-type(5),
#carousel-3:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(2),
#carousel-3:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(4),
#carousel-4:checked ~ .carousel-list .carousel-item:nth-of-type(4),
#carousel-4:checked ~ .carousel-list .carousel-item:nth-of-type(5),
#carousel-4:checked ~ .carousel-list .carousel-item:nth-of-type(6),
#carousel-4:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(3),
#carousel-4:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(5),
#carousel-5:checked ~ .carousel-list .carousel-item:nth-of-type(5),
#carousel-5:checked ~ .carousel-list .carousel-item:nth-of-type(6),
#carousel-5:checked ~ .carousel-list .carousel-item:nth-of-type(7),
#carousel-5:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(4),
#carousel-5:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(6),
#carousel-6:checked ~ .carousel-list .carousel-item:nth-of-type(6),
#carousel-6:checked ~ .carousel-list .carousel-item:nth-of-type(7),
#carousel-6:checked ~ .carousel-list .carousel-item:nth-of-type(8),
#carousel-6:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(5),
#carousel-6:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(7),
#carousel-7:checked ~ .carousel-list .carousel-item:nth-of-type(7),
#carousel-7:checked ~ .carousel-list .carousel-item:nth-of-type(8),
#carousel-7:checked ~ .carousel-list .carousel-item:nth-of-type(9),
#carousel-7:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(6),
#carousel-7:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(8),
#carousel-8:checked ~ .carousel-list .carousel-item:nth-of-type(8),
#carousel-8:checked ~ .carousel-list .carousel-item:nth-of-type(9),
#carousel-8:checked ~ .carousel-list .carousel-item:nth-of-type(10),
#carousel-8:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(7),
#carousel-8:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(9),
#carousel-9:checked ~ .carousel-list .carousel-item:nth-of-type(9),
#carousel-9:checked ~ .carousel-list .carousel-item:nth-of-type(10),
#carousel-9:checked ~ .carousel-list .carousel-item:nth-of-type(11),
#carousel-9:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(8),
#carousel-9:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(10),
#carousel-10:checked ~ .carousel-list .carousel-item:nth-of-type(10),
#carousel-10:checked ~ .carousel-list .carousel-item:nth-of-type(11),
#carousel-10:checked ~ .carousel-list .carousel-item:nth-of-type(12),
#carousel-10:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(9),
#carousel-10:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(11),
#carousel-11:checked ~ .carousel-list .carousel-item:nth-of-type(11),
#carousel-11:checked ~ .carousel-list .carousel-item:nth-of-type(12),
#carousel-11:checked ~ .carousel-list .carousel-item:nth-of-type(1),
#carousel-11:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(10),
#carousel-11:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(12),
#carousel-12:checked ~ .carousel-list .carousel-item:nth-of-type(12),
#carousel-12:checked ~ .carousel-list .carousel-item:nth-of-type(1),
#carousel-12:checked ~ .carousel-list .carousel-item:nth-of-type(2),
#carousel-12:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(11),
#carousel-12:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(1)
{
    display: block;
}
#carousel-11:checked ~ .carousel-list .carousel-item:nth-of-type(11),
#carousel-12:checked ~ .carousel-list .carousel-item:nth-of-type(12),
#carousel-12:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(11),
#carousel-1:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(12){
    order: -1;
}
#carousel-11:checked ~ .carousel-list .carousel-item:nth-of-type(1),
#carousel-12:checked ~ .carousel-list .carousel-item:nth-of-type(2),
#carousel-12:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(1),
#carousel-1:checked ~ .carousel-label-wrap > .carousel-label:nth-of-type(2){
    order: 1;
}
.carousel-btn{
    display: none;
}
.carousel-wrap{
    position: relative;
}
.carousel-list{
    overflow-x: hidden;
   
}
.carousel-item{
    display: none;
}
.carousel-label{
    display: none;
}
.carousel-label{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--blue-color);
    background-color: var(--text-accent-color);
    opacity: 0.5;
}
.carousel-label-wrap{
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
    right: 4px;
}

/*//////////////////////////////////////// PRODUCE SECTION ////////////////////////////////////////////*/

.produce__list-container {
    display: flex;
}
.produce__list-wrap {
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.produce__item-section {
    margin-bottom: 30px;
    flex-shrink: 1;
}

/*////////////////////////////////// PRODUCE SECTION RESPONSIVE ////////////////////////////////////////////*/

@media only screen and (max-width:1200px) {
    .produce__list-container{
        flex-direction: column;
    }
    .produce__list-wrap{
        width: 100%;
        
        justify-content: space-evenly;
    }
}
@media only screen and (max-width:680px){
    .produce__list-wrap{
        flex-direction: column;
        align-items: center;
    }
    .produce__item-section{
        width: 270px;
    }
}

/*/////////////////////////////////////// OUR DISH SECTION //////////////////////////////////////////////////*/

.our-dish {
    padding-top: 64px;
    padding-bottom: 64px;
}
.our-dish__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
/*  */
.dish-wrap {
    padding: 24px;
    border-radius: 12px;
    background-image: url(../images/dish-img1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--bg-white-color);
    margin-right: 30px;
}
.dish-tag {
    font-family: var(--accent-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;  
    background-color: var(--bg-white-color);
    padding: 0 8px;
    margin: 0;
    border-radius: 9px;
    color: var(--btn-color);
}
.dish-about {
    max-width: 380px;
    font-family: var(--accent-font);
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin: 0;
    margin-top: 228px;
    margin-bottom: 8px;    
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}
.dish-bootom {
    display: flex;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
}
.dish-bottom__extra::before{
    display: block;
    content: "";
    width: 32px;
    height: 32px;
    background-image: url(../images/Ellipse\ 3.jpg);
    background-color: transparent;
    background-position: center center;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 8px;
}
.dish-bottom__author {
    margin-right: 16px;    
}
.dishes-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;

}
.dishes-list__extra {
    margin-right: 30px;
}
.dishes-item {
    max-width: 269px;

}
.dishes-img {
    margin-bottom: 24px;
}
.dishes-tag {
    font-family: var(--accent-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;  
    background-color: var(--bg-white-color);
    padding: 0 8px;
    margin: 0;
    margin-bottom: 8px;
    border-radius: 9px;
    color: var(--btn-color);
}
.dishes-about {
    margin: 0;
    padding: 0;
    font-family: var(--accent-font);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px; 
    color: var(--text-accent-color);   
    margin-top: 8px;
    margin-bottom: 16px;
}
.dish-bottom {
    color: var(--text-accent-color);
}
.dish-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.dish-list__extra {
    flex-grow: 1;
}
.dish-item {
    display: flex;
    justify-content: space-between;

}
.dish-item__extra:not(:last-child) {
    margin-bottom: 32px;
}
.dish__wrap {
    margin-right: 30px;

}
.dish__about {
    font-family: var(--accent-font);
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;    
    color: var(--text-accent-color);
    max-width: 225px;
    margin: 0;
    margin-bottom: 16px;
}

/*//////////////////////////////////// OUR DISH RESPONSIVE ///////////////////////////////////////////////////*/

@media only screen and (max-width:1016px) {
    .our-dish__container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .dish-wrap{
        margin-left: 135px;
        margin-right: 135px;     
        margin-bottom: 30px;                                                           
    }
    .dishes-list__extra {
        margin-right: auto;
    }
    .dish-list__extra {
        flex-grow: 0;
    }
}

@media only screen and (max-width:746px){
    .dishes-list__extra{
        margin-right: 0;
    }
    .dish-wrap{
        margin-left: 0;
        margin-right: 0;
        flex-shrink: 1;
    }
}
@media only screen and (max-width:700px){
    .our-dish__container{
        flex-direction: column;
        align-items: center;
    }
}

/*///////////////////////////////////////// FRUITS PAGE /////////////////////////////////////////////////////*/

/*/////////////////////////////////////// PAGE TOP SECTION /////////////////////////////////////////////////////*/

.page-top__container {
    padding-top: 16px;
    padding-bottom: 16px;
}
.page-top__address-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.page-top__address-item {
    display: flex;
    margin-right: 8px;
}
.page-top__address-item:not(:last-child):after{
    content: "/";
    display: block;
    margin-left: 8px;
}
.page-top__address-link {
    text-decoration: none;
    color: var(--text-accent-color3);
}

/*//////////////////////////////////////// FRUITS HEADER ///////////////////////////////////////////////////*/

.fruits-header__top {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fruits-header__title {
    font-family: var(--accent-font);
    font-weight: 600;
    font-size: 32px;
    line-height: 48px; 
    color: var(--text-accent-color);   
    margin-right: auto;
}
.fruits-header__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.fruits-header__item{
    display: flex;
    align-items: center;
}
.fruits-header__item:not(:last-child) {
    margin-right: 24px;
}
.fruits-header__item:not(:last-child):before{
    content: "";
    display: block;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    background-position: center center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}
.fruits-header__item:first-child::before{
    background-image: url(../images/cetka-icon.svg);
}
.fruits-header__item:nth-child(2)::before{
    background-image: url(../images/list-icon.svg);
}
.fruits-header__item:last-child::before{
    display: block;
    content: "117";
    border-radius: 9px;
    background-color: var(--text-accent-color6);
    padding-left: 8px;
    padding-right: 8px;
}
.fruits-header__btn {
    border: none;
    background-color: transparent;
    color: var(--text-accent-color3);
}

/*///////////////////////////////////////// SITE FOOTER /////////////////////////////////////////////////////*/

.site-footer {
    background-color: var(--bg-white-color);
    padding-top: 64px;
    padding-bottom: 64px;
}

/* FOOTER TOP */

.footer-top {
    display: block;
}
.footer-top__container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 48px;
}
.footer-top__wrap{
    display: flex;
    align-items: flex-start;
    width: 50%;
    justify-content: space-between;
}
.footer-top__wrap section{
    width: 50%;
    flex-shrink: 0;
}
.footer-top__title {
    font-family: var(--accent-font);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-top: 0;
    color: var(--text-accent-color);
    white-space: nowrap;
}
.footer-top__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-top__item:not(:last-child) {
    margin-bottom: 16px;
}
.footer-top__link {
    text-decoration: none;
    color: var(--btn-color);
    font-size: 14px;
    line-height: 19px;
}
.footer-top__link:hover{
    color: var(--btn-color2);
}

/*/////////////////////////////////////////////// FRUITS MAIN ////////////////////////////////////////////////////////*/

.fruits-main {
    padding-top: 16px;
    padding-bottom: 16px;
}
.fruits-form {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
}
.fruits-form__wrap {
    border-radius: 12px;
    border: 1px solid var(--text-accent-color4);
    background-color: var(--text-accent-color7);
    padding: 9px 16px;
    display: flex;
    align-items: center;
}
.fruits-form__wrap:not(:last-child){
    margin-right: 16px;
}
.fruits-form__label {
    display: flex;
    align-items: center;
}
.fruits-form__label:first-of-type{
    margin-right: 16px;
}
.fruits-form__label > span{
    display: block;
    line-height: 19px;
    color: var(--text-accent-color);
    
}
.forum__radio {
    display: block;
    margin-right: 8px;
    width: 24px;
    height: 24px;
}
.fruits-form__check {
    width: 24px ;
    height: 24px;
    margin-right: 8px;
}
.form-nbm {
    display: block;
    font-family: var(--accent-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;    
    color: var(--text-accent-color);
}
.fruits-form__label-extra{
    padding-right: 24px;
    border-right: 1px solid #D1D1D1;
}
.fruits-form__label-extra > span{
    margin-right: 8px;
}
.fruits-form__label-extra::after {
    display: block;
    content: "12";
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
    border: 1px solid var(--text-accent-color5);
}
.fruits-form__select {
    margin-left: 8px;
    border: none;
    background-color: transparent;
    font-family: var(--accent-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;    
    color: var(--text-accent-color);
}

.applied-wrap {
    display: flex;
    align-items: center;
    font-family: var(--accent-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;    
}
.applied-title {
    margin: 0;
    padding: 0;
    margin-right: 12px;
    color: var(--text-accent-color3);
}
.applied-type {
    color: var(--btn-color);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
    background-color: var(--text-accent-color6);
    display: flex;
    align-items: center;
}
.applied-type::after{
    content: "";
    background-image: url(../images/close-simple.svg);
    width: 12px;
    height: 12px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    margin-left: 4px;
}
.applied-type:first-of-type{
    margin-right: 12px;
}

/*/////////////////////////////////////////////////// LEFT FORM /////////////////////////////////////////////*/

.left-form {
    width: 270px;
}
.left-form__wrap{
    width: 100%;
    color: var(--text-accent-color);
}
.left-form__wrap:not(:last-child) {
    margin-bottom: 48px;
    
}
.left-form__title {
    font-family: var( --accent-font);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;  
    margin: 0;
    margin-bottom: 16px;  
}
.left-form__label {
    display:flex;
    align-items: center;
    width: 100%;
    margin: 0;
    line-height: 19px; 
}
.left-form__category-label{
    justify-content: space-between;
}
.left-form__category-label::after{
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
    color: var(--btn-color);
    background-color: var(--text-accent-color6);
    line-height: 18px;
}
.left-form__category-label:first-of-type::after{
   content: "320";
}
.left-form__category-label:nth-of-type(2)::after{
    content: "112";
 }
 .left-form__category-label:nth-of-type(3)::after{
    content: "32";
 }
 .left-form__category-label:last-of-type::after{
    content: "48";
 }
.left-form__label:not(:last-child){
    margin-bottom: 12px;
}
.category__radio {
    display: none;
}
.category__name:active {
    color: var(--btn-color);
}
.brands__check {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.brands__check-extra:active {
    color: var(--btn-color);
}
.rating__check {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.rating__img {
    display: block;
}
.left-form__range-wrap {
    margin-bottom: 16px;
}
.left-form__label {
    width: 100%;
}
.left-form__range {
    width: 250px;
    height: 20px;
}
.left-form__output-wrap {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 31px;
}
.output-label{
    display: flex;
    flex-direction: column;
    font-family: var(--accent-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;    
    color: var(--text-accent-color);
}
.output{
    padding: 11px 16px 12px 21px;
    border: 1px solid var(--text-accent-color4);
    border-radius: 12px;    
    background-color: var(--text-accent-color7);
    line-height: 19px;
    color: var(--text-accent-color3);
}
.left-form__button-wrap {
    display: flex;
    align-items: center;
}
.left-form__submit, .input-form__reset {
    font-family: var(--accent-font);
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;  
    padding-left: 16px;
    padding-right: 16px;  
    border-radius: 12px;
}
.left-form__submit{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--btn-color);
    border: 2px solid var(--btn-color2);
    color: var(--bg-white-color);
    margin-right: 34px;
}
.left-form__submit:hover{
    opacity: 0.8;
}
.left-form__submit:active{
    background-color: var(--bg-white-color);
    color: var(--btn-color);
}
.input-form__reset {
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    background-color: transparent;
    color: var(--text-accent-color3);
}
.input-form__reset:active{
    color: var(--text-accent-color);
}

/*////////////////////////////////////////////////// FOOTER MAIN //////////////////////////////////////////////////////*/

.footer-main__container {
    overflow-x: hidden;
}
.footer-main__title {
    padding: 0;
    font-family: var(--accent-font);
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: var(--text-accent-color);    
}
.footer-main__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 32px;
    margin-right: -36px;
}
.footer-main__item {
    margin-right: 36px;
    margin-bottom: 16px;
}
.footer-main__link {
    display: block;
    padding: 4px 10px;
    text-decoration: none;
    border-radius: 12px;
    color: var(--text-accent-color);
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    font-family: var(--accent-font);   
    background-color: var(--text-accent-color6); 
}
.footer-about {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 19px;  
    color: var(--text-accent-color);  
}
.footer-about__link{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: inherit;
}

/*////////////////////////////////////// FOOTER MAIN RESPONSIVE /////////////////////////////////////////////////////*/

@media only screen and (max-width:850px) {
    .site-footer{
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .footer-top__container{
        flex-direction: column;
        padding-bottom: 10px;
    }
    .footer-top__wrap{
        width: 100%;
        margin-bottom: 30px;
        justify-content: space-evenly;
    }
    .footer-top__wrap section{
    width: 200px;
    }
    .footer-main__list {
        margin-bottom: 24px;
    }
}

@media only screen and (max-width:450px){
    .site-footer{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .footer-top__wrap{
        flex-direction: column;
        margin-bottom: 0;
    }
    .footer-top__wrap section{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .footer-main__list {
        margin-bottom: 16px;
    }
}

/*/////////////////////////////////////////////////// SITE FINISH /////////////////////////////////////////////////////*/